@font-face{
    font-family: 'Poppins';
    src: url(https://cdn.jsdelivr.net/gh/hostmind/host@latest/static/Poppins-Regular.ttf);
}

@font-face{
    font-family: 'Poppins-Bold';
    src: url(https://cdn.jsdelivr.net/gh/hostmind/host@latest/static/Poppins-Bold.ttf);
}

body {
    font-family: Poppins;
    transition: 0.3s ease-in-out;
  }

  .wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;    
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;    
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }

  .updn {
    animation-name: up-down;  
    animation-duration: 5s;        
    animation-iteration-count: infinite; 
  }

  @keyframes up-down {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.searchModal {
  display: none;
}

.animate-reveal {
    animation: reveal 0.3s ease-out;
  }

@keyframes reveal {
    from {
    opacity: 0;
    transform: translateY(100%);
  }
    to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation: shake 0.5s;
}
